carros\carros-venv
db.sqlite3
APIDjangoMaster.ini
PostgreSQL.ini
django-master-key.pem
/home/ubuntu/DjangoMaster/carros/venv
/home/ubuntu/DjangoMaster/PostgreSQL.ini
/home/ubuntu/DjangoMaster/APIDjangoMaster.ini
/var/www/DjangoMaster/PostgreSQL.ini
/var/www/DjangoMaster/APIDjangoMaster.ini
